name: Ruff
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - synchronize
      - ready_for_review 

jobs:
  ruff: 
    runs-on: macos-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Python environment
      uses: actions/setup-python@v3
      with:
          python-version: "3.10"

    - name: Installs
      run: |
        python -m pip install ruff

    - name: Ruff
      run: |
        ruff check --output-format=github .